html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: radial-gradient(circle at 50%, #EDF2F1, #7182A1 97%);
}

body.-found {
  background: radial-gradient(circle at 50%, #EDF2F1, rgb(206, 92, 0));
}

#screens {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.screen {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
}

#status-container {
  transition: background-color 0.21s ease;
  height: 4em;
  background-color: #b38787;
  display: flex;
  flex-direction: row;
}

#status-container.-active-position {
  background-color: #89bba0;
}

#status-element {
  flex: 7 3em;
  font-size: 0.9em;
  padding: 1em;
}

#help-container {
  grid-column-start: 1; 
  grid-column-end: -1; 
  grid-row-start: 2; 
  grid-row-end: -1;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  background-color: rgba(255,255,255,.2);
}

#help-element {
  grid-column-start: -2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;

  font-size: 10vh;
  margin: auto;
}

#help-element a {
  text-decoration: none;
}

#debug-element {
  grid-column-start: 1;
  grid-column-end: -2;
  grid-row-start: 1;
  grid-row-end: -1;

  margin: auto;
}

#nav-element {
  transform-origin: center center;
  display: inline-block;
  /* shrink wrap */
  font-size: 35vh;
}

#nav-element.-blur {
  filter: blur(15px);
}

#nav-target {
  transform-origin: center center;
  display: inline-block;
  /* shrink wrap */
  font-size: 5vh;
}

#nav-target.-inactive {
  opacity: 0.5;
}

#nav-status-container {
  transform-origin: center center;
  display: inline-block;
  /* shrink wrap */
}

#nav-status {
  font-size: 5vh;
}

.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.-hidden {
  display: none;
}

#permission-screen {
  grid-column-start: 1; 
  grid-column-end: -1; 
  grid-row-start: 1; 
  grid-row-end: -1; 
}

#permission-container {
  grid-column-start: 1; 
  grid-column-end: -1; 
  grid-row-start: 1; 
  grid-row-end: -2;

  display: grid;
}

.permission-element {
  grid-column-start: 1; 
  grid-column-end: -1; 
  grid-row-start: 1; 
  grid-row-end: -1; 

  font-size: 30vh;
  margin: auto;
  
  z-index: 2;
}

.highlight {
  border-radius:50%;
  border: 0.8em solid white;

  box-sizing: border-box;
  animation: pulsing 2s infinite;
  z-index: 1;
}

@keyframes pulsing {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}